<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.nju.mapper.OrderMapper">
    <delete id="dropOrder">
        DELETE FROM room_order
        WHERE id = #{0}
    </delete>

    <insert id="createOrder" parameterType="cn.edu.nju.model.Order" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO room_order (cardNum, hostelID, startDate, endDate, type, amount)
        VALUES (#{cardNum}, #{hostelID}, #{startDate}, #{endDate}, #{type}, #{amount})
    </insert>

    <select id="getAllOrder" resultType="cn.edu.nju.model.Order">
        SELECT *
        FROM room_order
        WHERE cardNum = #{0}
    </select>

    <select id="getOrderNum" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM room_order
    </select>
    <select id="getOrderSum" resultType="java.lang.Double">
        SELECT SUM(amount)
        FROM room_order
    </select>

    <select id="getOrderByHostel" resultType="cn.edu.nju.model.Order">
        SELECT *
        FROM room_order
        WHERE hostelID = #{0} AND finish = FALSE
    </select>
</mapper>