.carousel {
    width: auto;
    height: 300px;
}

#date-wrapper {
    display: flex;
    justify-content: space-around;
}

.card {
    padding: 40px;
}

table {
    width: 450px;
}

.order-num-wrapper {
    display: inline-flex;
    justify-content: space-between;
    width: 50%;
}

.order-num {
    display: inline-flex;
    justify-content: center;
}

input[readonly='readonly'] {
    color: #000;
}
